<footer class="footer bg-light py-4">
    <div class="container">
        <div class="row">
            <!-- Chăm sóc khách hàng -->
            <div class="col-md-2 col-6">
                <h6 class="text-uppercase fw-bold">Hỗ trợ khách hàng</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-black-50 text-decoration-none">Trung tâm trợ giúp</a></li>
                    <li><a href="#" class="text-black-50 text-decoration-none">F8-Shop Mall</a></li>
                    <li><a href="#" class="text-black-50 text-decoration-none">Hướng dẫn mua hàng</a></li>
                </ul>
            </div>
            <!-- Giới thiệu -->
            <div class="col-md-2 col-6">
                <h6 class="text-uppercase fw-bold">Giới thiệu</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-black-50 text-decoration-none">Giới thiệu</a></li>
                    <li><a href="#" class="text-black-50 text-decoration-none">Tuyển dụng</a></li>
                    <li><a href="#" class="text-black-50 text-decoration-none">Điều khoản</a></li>
                </ul>
            </div>
            <!-- Danh mục -->
            <div class="col-md-2 col-6">
                <h6 class="text-uppercase fw-bold">Danh mục</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-black-50 text-decoration-none">Trang điểm mặt</a></li>
                    <li><a href="#" class="text-black-50 text-decoration-none">Trang điểm môi</a></li>
                    <li><a href="#" class="text-black-50 text-decoration-none">Trang điểm mắt</a></li>
                </ul>
            </div>
            <!-- Theo dõi -->
            <div class="col-md-2 col-6">
                <h6 class="text-uppercase fw-bold">Theo dõi</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-black-50 text-decoration-none"><i class="fab fa-facebook me-2"></i>Facebook</a></li>
                    <li><a href="#" class="text-black-50 text-decoration-none"><i class="fab fa-instagram me-2"></i>Instagram</a></li>
                    <li><a href="#" class="text-black-50 text-decoration-none"><i class="fab fa-linkedin me-2"></i>LinkedIn</a></li>
                </ul>
            </div>
            <!-- Cửa hàng trên ứng dụng -->
            <div class="col-md-4 col-sm-12">
                <h6 class="text-uppercase fw-bold">Vào cửa hàng trên ứng dụng</h6>
                <div class="d-flex align-items-center ct-footer-app">
                    <img src="~/img/code.png" alt="QR Code" class="img-fluid me-3" style="width: 80px;">
                    <div class="footer__download-apps">
                        <a href="#" class="footer__download-app-link">
                            <img src="~/img/chplay.png" alt="Google Play" class="footer__download-app-img mb-2" >
                        </a>
                        <a href="#" class="footer__download-app-link">
                            <img src="~/img/appstore.png" alt="App Store" class="footer__download-app-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="footer__bottom text-black-50 py-3 mt-4">
        <div class="container text-center">
            <ul class="footer__policy-list">
                <li class="footer__policy-list-item">
                    <a href="#" class="footer__policy-list-item-link">Chính sách bảo mật</a>
                </li>
                <li class="footer__policy-list-item">
                    <a href="#" class="footer__policy-list-item-link">Cơ chế hoạt động</a>
                </li>
                <li class="footer__policy-list-item">
                    <a href="#" class="footer__policy-list-item-link">Chính sách vận chuyển</a>
                </li>
                <li class="footer__policy-list-item">
                    <a href="#" class="footer__policy-list-item-link">Cơ chế trả hàng và hoàn tiền</a>
                </li>
            </ul>
            <div class="d-flex justify-content-center align-items-center flex-column mt-4">
                <img src="~/img/checked.png" alt="Bộ Công Thương" class="img-fluid me-2" style="width: 160px; object-fit: contain;">
                <p class="mb-0">Công ty TNHH NTL-28</p>
            </div>
            <div class="footer__information">
                <p class="mb-0 mt-2">Địa chỉ: Số 87, ngõ 337, Định Công, Hoàng Mai, Hà Nội</p>
                <p class="mb-0">Mã số DN: 0108838679 - Sở KH&ĐT Hà Nội cấp ngày 10/02/2023</p>
                <p class="mb-0">© 2023 - Bản quyền thuộc về Công ty TNHH NTL-28</p>
            </div>
        </div>
    </div>
</footer>
