@{
    ViewData["Title"] = "Chờ Duyệt";
}
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml"; // Hoặc dùng layout Admin nếu có
}

<h2>Cảm ơn bạn đã gửi yêu cầu!</h2>
<p>Yêu cầu của bạn đang chờ phê duyệt từ admin. Bạn sẽ nhận được thông báo qua email khi yêu cầu được xử lý.</p>
