@page "/khongduoctruycap.html"
@model AccessDeniedModel
@{
    ViewData["Title"] = "Hạn chế quyền truy cập";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bạn không có quyền để truy cập.</p>
</header>
